h1{
color :bisque;
background-color: aquamarine;}

body{
      font-family: "Caveat", cursive;
      font-optical-sizing: auto;
      color: rgb(0, 0, 0);
     background-image: url("");}

div
{background-color: rgb(0, 0, 0);}
 
#shoesdiv{
     background-color: blue; 
}
ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color:aquamarine ;
   }
   
   li {
     float: left;
   }
   
   li a {
     display: block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover {
     background-color:wheat;
   }

  img{border-radius: 30px; }